db/
incremental_db/
output_files/

# KEEP DEM WAVES
!simulation/
simulation/*
!simulation/modelsim/
simulation/modelsim/*
!simulation/modelsim/wave.do

*.bak
isa_nativelink_simulation.rpt
/isa_nativelink_simulation.rpt